.fu-container{
    width:100%;
    padding:10px 20px;
}

.user-list{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    .user-left{
        display: flex;
    }
    .user-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 20px;
    }
    .user-username{
        font-size: 16px;
        color: rgb(31, 42, 100);
    }

    .user-userintro{
        font-size: 14px;
        color:rgba(0, 0, 0, 0.65);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

